// Colors
$primaryColor: orange;
$primaryDarkColor: #5538ee;
$secondaryColor: #f7f7f7;
$black: #1D1D1F;
$gray100: #e3e5e5;
$gray400: #979c9e;
$gray800: #303437;
$bodyBackground: white;


// Fonts
$fontTextFamily: "Nunito", sans-serif;
$fontTextSize: 1rem;

$fontTitleFamily: "Bebas Neue", cursive;
$fontTitleSize: 2.2rem;

$fontSubTitleSize: 1.3rem;
