@import 'fundations/variables';
@import 'fundations/functions';
@import 'fundations/mixins';
@import 'fundations/fonts';

body{
background-color: $thirdColor;
margin: 0;
font-family: $fontTextFamily
}

a:-webkit-any-link {
    text-decoration: none;
}