@use 'fundations/variables';
@use 'fundations/functions';
@use 'fundations/mixins';
@use 'fundations/fonts';

body{
background-color: #F1F7F7;
margin: 0;
font-family: $fontTextFamily
}

a:-webkit-any-link {
    text-decoration: none;
}