@use 'fundations/variables';
@use 'fundations/functions';
@use 'fundations/mixins';
@use 'fundations/fonts';

body{
background-color: $bodyBackground;
margin: 0;
font-family: 'Montserrat', sans serif;
}

a:-webkit-any-link {
    text-decoration: none;
}