// Colors
$primaryColor: #001233;
$secondaryColor: orange;
$thirdColor: #F1F7F7;
$white: white;
$black: #1D1D1F;
$gray100: #e3e5e5;
$gray400: #979c9e;
$gray800: #303437;


// Fonts
$fontTextFamily: "Nunito", sans-serif;
$fontTextSize: 1rem;

$fontTitleFamily: "Bebas Neue", cursive;
$fontTitleSize: 2.2rem;
$fontTitleSizeLarge: 3.5rem;

$fontSubTitleSize: 1.8rem;
